
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #CED3C2; /* Change the background color to your preference */
    color: white; /* Change the text color to your preference */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .hamburger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

.green-button {
    background-color: #016846; /* Green color */
    color: white; /* White text color */
    border: none;
    width: 5.5rem;
    height:2rem;
    margin-right: 2rem; /* Add some spacing to separate the button from the logo */
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-2);
    transition: var(--transition);
    display: inline-block;
  }
  
  .green-button:hover {
    background: rgb(2, 150, 88);
    box-shadow: var(--shadow-3);
  }

  
.button-text {
    margin-right: 8px; 
    color: white; /* White text color */
    font-size: 15px; 

    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  